* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right, rgb(63, 6, 6) 20%, rgb(21, 20, 97) 50%, rgb(2, 49, 2) 80%);
    color: #eee;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .container {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  
  nav {
    height: 150px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  
  nav a {
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #fff;
    scale: 1.05;
  }
  
  button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    background-color: #eee;
    color: black;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.3s ease;
    width: max-content;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #1b1a1a;
    color: #fff;
    scale: 1.05;
  }
  
  .content {
    font-weight: 300;
  }
  
  .content h1 {
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .notPremium h1 {
    width: 500px;
  }
  
  .notPremium a {
    border-bottom: 1px solid #eee;
    padding: 2px 0px;
    font-size: 20px;
    transition: all 0.2s ease;
  }
  
  .notPremium a:hover {
    font-weight: 400;
  }
  
  ul {
    list-style: inside;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  li:hover {
    scale: 1.02;
  }
  
  .profile p {
    margin-bottom: 20px;
  }
  
  .profile form {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input {
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    font-size: 20px;

  }
  input[type="password"]{
margin-top: 20px;
  }
  
  .profile button {
    margin-top: 20px;
  }
  
  .profile button:hover {
    scale: 1.05;
  }
  
  .profile p {
    font-size: 20px;
  }
  
  .profile p b {
    font-weight: 400;
  }
  
  .profile p a {
    color: #eee;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .profile p a:hover {}
  
  b {
    font-weight: bold;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login p {
    color: coral;
    font-size: 18px;
  }